#style.cssを無視する
/assets/css/style.css

#package-lock.jsonを無視する
package-lock.json

#package.jsonを無視する
package.json

#gulpfile.jsを無視する
gulpfile.js

#node_modulesを無視する
/node_modules/

#wp-adminを無視する
/wp-admin/

#wp-contentのthemes以外を無視する
/wp-content/plugins/
/wp-content/uploads/
/wp-content/index.php
/wp-content/languages/

#wp-includesを無視する
/wp-includes/

#.htaccessを無視する
.htaccess
*.config
style.css

#license.txtを無視する
license.txt

#local-xdebuginfo.phpを無視する
local-xdebuginfo.php

#readme.htmlを無視する
readme.html

#wp-activate.phpを無視する
wp-activate.php

#wp-blog-headerを無視する
wp-blog-header.php

#wp-comments-post.phpを無視する
wp-comments-post.php

#wp-config.phpを無視する
wp-config.php

#wp-config-sample.phpを無視する
wp-config-sample.php

#wp-cron.phpを無視する
wp-cron.php

#wp-links-opml.phpを無視する
wp-links-opml.php

#wp-loadを無視する
wp-load.php

#wp-login.phpを無視する
wp-login.php

#wp-mail.phpを無視する
wp-mail.php

#wp-settings.phpを無視する
wp-settings.php

#wp-signup.phpを無視する
wp-signup.php

#wp-trackback.phpを無視する
wp-trackback.php

#wp-settings.phpを無視する
xmlrpc.php
chubill.code-workspace
prepros.config
*.map
*.config
prepros.config
assets/css/style_231203.css
assets/css/style.css.map
